DOCS/flow/hid
[{"id":"acdc878f21f16cc9","type":"tab","label":"Barcode Scanner (HID Generic)","disabled":false,"info":""},{"id":"e46f54630360d6ec","type":"HIDConfig","vid":"1504","pid":"4864","name":""},{"id":"372f38f5e80000eb","type":"HIDdevice","z":"acdc878f21f16cc9","connection":"e46f54630360d6ec","name":"Symbol Barcode Scanner","x":230,"y":180,"wires":[["d33f1fd8cd719aa2"],["b0b8c3030a3e333c"]]},{"id":"d33f1fd8cd719aa2","type":"function","z":"acdc878f21f16cc9","name":"Convert Buffer to String","func":"msg.payload = msg.payload.toString().trim();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":160,"wires":[["0b1adc885bb548e6"]]},{"id":"0b1adc885bb548e6","type":"debug","z":"acdc878f21f16cc9","name":"Scanned Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":160,"wires":[]},{"id":"b0b8c3030a3e333c","type":"debug","z":"acdc878f21f16cc9","name":"Connection Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":220,"wires":[]},{"id":"e2918f9a6e9e0a83","type":"comment","z":"acdc878f21f16cc9","name":"Instructions","info":"1. Install `node-red-contrib-usbhid-generic` from the Palette Manager.\n2. Import this flow into Node-RED.\n3. Deploy the flow.\n4. Scanned barcode data and connection status will appear in the debug sidebar.","x":330,"y":80,"wires":[]},{"id":"aede711552c6cc6f","type":"inject","z":"acdc878f21f16cc9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["372f38f5e80000eb"]]}]